.box {
    width: 100px;
    height: 100px;
    border-top: 1px solid black;
    border-top-color: #687291;
    display: flex;
    justify-content: center;
    font-family: Tahoma;
    font: 40px;
}

    .box:nth-child(odd) {
        background-color: #dfe1e7;
    }

    .box:nth-child(even) {
        background-color: #eeeff2;
    }

    .box:nth-last-child(1) {
        background-color: #687291;
        border: 4px solid black;
        flex-direction: column;
    }
