.container2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.box2 {
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 40px;
    padding-left: 10px;
}

.box2:hover {
    background-color: yellow;
    color: darkgoldenrod;
}

.box2:last-child {

}