.container {
    display: flex;
    gap: 10px;
    white-space: nowrap;
    height: 100vh;
    position: relative;
}

.versionA {
    display: none;
}

.versionB {
    visibility: visible;
}

.box {
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 40px;
    padding-left: 10px;
    flex-shrink: 0;
}

.box:hover {
    background-color: yellow;
    color: darkgoldenrod;
}

    .box:last-child {
        position: absolute;
        bottom: 0;
        right: 0;
    }