.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 630px;
}

.box {
    width: 100px;
    height: 100px;
    border-top: 1px solid black;
    border-top-color: #687291;
    display: flex;
    justify-content: center;
    font-family: Tahoma;
    font-size: 40px;
    flex-shrink: 0;
}

    .box:nth-child(odd) {
        background-color: #dfe1e7;
    }

    .box:nth-child(even) {
        background-color: #eeeff2;
    }

    .container .box:last-child{
        background-color: #687291;
        border: 4px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
